html *
{
   font-family: 'Space Grotesk', sans-serif !important;
   letter-spacing: 2px !important;
}

body {
    background-color: white;
}

label {
    color: hsl(277, 11%, 24%);
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 10px;
}

input {
    border-radius: 4px;
    color: black;
    border: 1px solid rgb(204, 204, 204);
    height: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 10px;
}

.card-front {
    background-image: url("../images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 365px;
}

#card-logo {
    margin-left: 20px;
    margin-top: 20px;
    height: 40px;
}

#cardnumber {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

.inline {
    display: flex;
}

#expiry {
    margin-top: 17px;
    margin-left: 80px;
    position: sticky;
    color: white;
}

#cardname {
    margin-top: 17px;
    font-size: 12px;
    margin-left: 27px;
    width: 50%;
    color: gold;
}

.card-back {
    background-image: url("../images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 365px;
}

.cardcvv {
    color: black;
    font-weight: bold;
    margin-left: 285px;
    padding-top: 88px;
}


#c-h-name, #c-nbr {width: 337px;}

#c-month, #c-year {width: 60px;}

#c-year {margin-right: 15px;}

.exp-cvv {
    display: flex;
}

#confirm-cred {
    background-color: hsl(278, 68%, 11%);
    border-radius: 8px;
    font: bold;
    color: white;
    height: 40px;
    margin-top: 8%;
    width: 100%;
}

#confirm-cred:hover {
    background-color: hsl(279, 82%, 7%);
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
    /* mobile: */
    body {background-image: url("../images/bg-main-mobile.png"); background-size: 1400px 400px; background-repeat: no-repeat;}
    .card-visuals {position: relative;}
    .card-back {margin-top: 150px; margin-left: 40%; margin-bottom: 150px;}
    .card-front {margin-left: 20%; position: absolute; z-index: 10; margin-top: 112px;}
    .user-forms {margin-left: 30%; margin-right: 30%; width: 360px;}
}

@media only screen and (min-width: 1440px) {
/* desktop: */
    body {background-image: url("../images/bg-main-desktop.png"); background-size: 480px 3000px; background-repeat: no-repeat;}
    .main-div {display: flex; margin-top: 15%;}
    .card-visuals {width: 42%; margin-right: 10%;}
    .card-back {margin-left: 48%;margin-top: 10%;}
    .card-front {margin-left: 35%;}
    .user-forms {margin-top: 5%;}
}