body {
    background-color: white;
    color: black !important;
}

#topnav {
    border-bottom:1px solid lightgrey;
}

.inline {
    display: flex;
}

.col-centered {
    flex: 1;
    padding: 1rem;
}

.navbar-clickable-items {
    display: flex;
}

.navbar-clickable-items > * {
    margin-top: 29px;
    margin-right: 20px;
    flex: 1;
}

#checkout-button {
    border: 0px;
    border-radius: 7px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    width: 265px;
    height: 40px;
    margin-top: 25px;
    margin-left: 25px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    display: none;
}

#checkout-button:hover {
    background-color: hsl(26, 89%, 45%);
}

#product {
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.product-images {
    margin-right: 10px;
    margin-left: 100px;
    width: 420px;
    margin-right: 100px;
}

.product-details {
    width: 420px;
    font-size: 16px;
}

#sneaker-comp {
    color: hsl(26, 100%, 55%);
    font-family: "Kumbh Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#product-full-image {
    border-radius: 15px;
}

#reduction-percentage {
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    border-radius: 5px;
    height: 20px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 21px;
}

#cart-counter {
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

#increment-count, #decrement-count {
    background: none;
    color: hsl(26, 100%, 55%);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

#totalCart {
    font-weight: 700;
    margin-left: 30px;
    margin-right: 30px;
}

#add-to-cart {
    border: 0px;
    border-radius: 7px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    width: 230px;
    height: 40px;
    margin-top: 25px;
    margin-left: 25px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
}

#add-to-cart:hover {
    background-color: hsl(26, 89%, 45%);
}

#add-to-cart-icon {
    height: 13px;
    margin-right: 15px;
}

#tests {
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kumbh Sans", sans-serif;
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
    /* mobile: */
    #mob-img-1 {display: block; border-radius: 25px 25px 0px 0px; width: 330px; margin-bottom: -12px;}
    #desk-img-2 {display: none;}
}
@media only screen and (min-width: 1440px) {
    /* desktop: */
}

/* POPUP CSS */

.container {
    margin: auto;
    width: 98.3%;
}

.shopping-cart {
    margin-right: 20px;
    float: right;
    background: white;
    width: 320px;
    position: relative;
    border-radius: 10px;
    border: 1px solid lightgrey;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-bottom: 20px;
}

#cart-content {
    position: absolute;
    z-index: 10;
}

#item-count-cart {
    background-color: hsl(26, 89%, 45%);
    border-radius: 100px;
    width: 20px;
    color: white;
    text-align: center;
    height: 17.5px;
    font-weight: 500;
    position: absolute;
    z-index: 10;
    margin-top: 15px;
    margin-left: 25px;
}

#cart-text {
    border-bottom:1px solid lightgrey;
    padding-bottom: 20px;
    margin-bottom: 50px;
    padding-left: 30px;
}

#clear-cart {
    width: 15px;
    height: 20px;
    padding-top: 20px;
    padding-left: 20px;
    display: none;
}

#cart-product-image {
    border-radius: 5px;
    height: 40px;
    margin-left: 25px;
    margin-top: 15px;
}

.shopping-cart-items {
    margin-left: -22.5px;
}